.header-nav {
    background-color: #fffae1b8;
    padding: 5px 0;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.header-nav li {
    display: inline;

}

.header-nav a {
    
    color: rgb(90, 86, 86);
    text-decoration: solid;
    font-size: 25px;
    padding: 2px 8px;
}

.header-nav a:hover {
    font-family: 'Georgia', 'Times New Roman', serif;
    color: #000000;
}
